page-tg-menu {
  .bottom-footer {
    padding: 0;
    .toolbar-content {
      height: 56px;
      button {
        height: 100%;
        margin: 0;
        ion-icon {
          font-size: 2em;
        }
      }
    }
  }
}
