tg-menu {
  .bottom-footer {
    padding: 0;
    .toolbar-content {
      height: 56px;
      button {
        height: 100%;
        margin: 0;
        ion-icon {
          font-size: 2em;
        }
      }
    }
  }
  ion-content {
    .tg-list-item {
      ion-icon {
        font-size: 2rem;
        color: #999999;
        min-height: 1.6rem;
      }
    }
    .tg-list-item.active {
      background-color: #d1d1d1;
    }
  }
}
