[app-toolbar] {
  ion-buttons[start] {
    order: 3 !important;
  }
  ion-buttons[search-back-button] {
    width: 56px;
    button {
      width: 56px;
    }
  }
  .bar-buttons-ios[end] {
    width: 56px;
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
  }
}

[list-page] {
  padding: 0px !important;
  .scroll-content {
    padding: 0px !important;
  }
  .store-item-list {
    .item-ios {
      border-bottom: 1px solid $item-ios-divider-color;
    }
    .item-md {
      border-bottom: 1px solid $list-md-border-color;
    }
    .item-wp {
      border-bottom: 1px solid $list-wp-border-color;
    }
    .item:last-child {
      border: 0px;
    }
    .quantity-unit-block {
      @include grid();
      div:last-child {
        min-width: 40px;
        padding-left: 10px;
      }
    }
    .item-button {
      position: relative;
      .item-checker {
        position: absolute;
        height: 2px;
        background-color: #555555;
        width: calc(100vw - 20px);
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
