[app-toolbar] {
  ion-buttons[start] {
    order: 3 !important;
  }
  ion-buttons[search-back-button] {
    width: 56px;
    button {
      width: 56px;
    }
  }
  [main-toolbar] {
    .bar-buttons-ios[end] {
      width: 85px;
    }
  }
  .bar-buttons-ios[end] {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
  }
  .bar-buttons[end]:not(.bar-buttons-ios) {
    button:first-child {
      margin-right: 10px;
    }
  }
}

@media (max-width: 320px) {
  [app-toolbar] {
    ion-title {
      * {
        text-align: left;
      }
    }
  }
}

[item-select-toolbar] {
  ion-buttons[start] {
    margin: 0;
    margin-left: 12px;
    margin-right: 12px;
    @include grid();
  }
  ion-buttons[end] {
    @include grid();
    [ion-button]:first-child {
      ion-icon {
        padding-bottom: 4px;
        padding-right: 6px;
        font-size: 1.8em;
      }
    }
    .bar-button-ios[ion-button]:first-child {
      margin-right: 15px;
    }
  }
}

[list-page] {
  padding: 0px !important;
  .scroll-content {
    padding: 0px !important;
  }
  .store-item-list {
    .item-ios {
      border-bottom: 1px solid $item-ios-divider-color;
    }
    .item-md {
      border-bottom: 1px solid $list-md-border-color;
    }
    .item-wp {
      border-bottom: 1px solid $list-wp-border-color;
    }
    .item:last-child {
      border: 0px;
    }
    .item-checkbox-checked {
      background-color: color($colors, light);
      transition: background-color 500ms linear;
    }
    [item-name-block] {
      @include grid();
      ion-checkbox {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
    .quantity-unit-block {
      @include grid();
      div:last-child {
        min-width: 40px;
        padding-left: 10px;
      }
    }
    .item-button {
      position: relative;
      .item-checker {
        position: absolute;
        height: 2px;
        background-color: #555555;
        width: calc(100vw - 20px);
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
