<ion-header app-toolbar>
  <ion-toolbar main-toolbar [color]="(factory.appSettings | async).theme" theme *ngIf="!search && !selectItemInProgress">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Todo Grocery</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openItemPopover($event)" *ngIf="(factory.items | async).length > 0">
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
      <button ion-button icon-only (click)="toggleSearch($event)" *ngIf="(factory.items | async).length > 0">
        <ion-icon name="md-search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openPopover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar search-toolbar [color]="(factory.appSettings | async).theme" *ngIf="search">
    <ion-buttons start search-back-button>
      <button ion-button icon-only (click)="toggleSearch($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar (ionInput)="searchFor($event)" (ionCancel)="searchFor($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar item-select-toolbar color="full-light" *ngIf="!search && selectItemInProgress">
    <ion-buttons start>
      <ion-checkbox [color]="(factory.appSettings | async).theme" (click)="toggleSelectAllItems($event, !toggleAllItems)" [checked]="toggleAllItems"></ion-checkbox>
    </ion-buttons>
    <ion-title>Select All</ion-title>
    <ion-buttons end>
      <button ion-button (click)="deleteSelectedItems($event)">
        <ion-icon color="danger" name="trash"></ion-icon>
        Delete
      </button>
      <button ion-button icon-only (click)="disableSelectItems($event)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu [content]="content">
  <tg-menu></tg-menu>
</ion-menu>
<ion-content #popoverContent #content padding list-page>
  <ion-list no-lines class="store-item-list">
    <ion-item class="item-no-data" *ngIf="(factory.items | async).length === 0">
      Touch <span class="item-no-data-plus">'+'</span> to add an Item
    </ion-item>
    <ion-item-sliding *ngFor="let item of (factory.items | async) | searchFor:searchQuery">
      <button ion-item detail-none class="item-button" (click)="checkItem(item)" (press)="enableSelectItems($event, item)">
          <div item-left item-name-block>
            <div>
              <ion-checkbox id="{{'checkbox' + item.id}}" [color]="(factory.appSettings | async).theme" (click)="selectItem($event, item)" [checked]="allItemsSelected" *ngIf="selectItemInProgress"></ion-checkbox>
            </div>
            <div>{{item.name}}</div>
          </div>
          <div item-right class="quantity-unit-block">
            <div>{{item.quantity}}</div>
            <div>{{getUnitByIndex(item.unit)}}</div>
          </div>
          <div [ngClass]="{'item-checker': item.checked}"></div>
        </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteItem(item)">
          <ion-icon name="trash"></ion-icon>
            Delete
          </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="deleteItem(item)">
          <ion-icon name="trash"></ion-icon>
            Delete
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom *ngIf="!selectItemInProgress">
    <button (click)="addNewItem($event)" ion-fab [color]="(factory.appSettings | async).theme"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
