[add-item-content] {
  .item-select {
    padding: 0;
    margin-top: 25px;
  }
  .item-select.item-md {
    border-bottom: 1px solid $list-md-border-color !important;
  }
  .item-select.item-ios {
    padding: 0px 15px;
    border-bottom: 1px solid $list-ios-border-color !important
  }
  ion-item.ng-pristine.ng-touched:not(.input-has-value),
  ion-item.ng-dirty.ng-touched:not(.input-has-value) {
    .item-inner {
      border-bottom: 2px solid color($colors, danger);
      .label {
        color: color($colors, danger);
      }
    }
  }
  ion-item.ng-pristine.ng-touched.input-has-focus,
  ion-item.ng-dirty.ng-touched.input-has-focus {
    .item-inner {
      box-shadow: 0 -1px 0 0 color($colors, danger);
    }
  }
}
