page-tg-add-item {
  .quantity-select-row {
    ion-col:last-child {
      ion-item {
        height: 100% !important;
        ion-label {
          margin: 0px 8px 8px 0px;
        }
        ion-select {
          padding: 0px 8px 8px 0px;
          max-width: 60%;
        }
        .input-wrapper {
          align-items: flex-end !important;
        }
      }
    }
  }
}
