// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #283593,
  secondary:  #32db64,
  danger:     #d32f2f,
  light:      #f4f4f4,
  dark:       #222,
  full-light: #fff,
  md-blue:    #283593,
  md-green:   #2E7D32,
  md-red:     #c62828,
  md-purple:  #4527A0,
  md-grey:    #37474F,
  md-green-alpha: rgba(46,125,50 ,0.2),
  md-blue-alpha: rgba(40,53,147 ,0.2),
  md-red-alpha: rgba(198,40,40 ,0.2),
  md-purple-alpha: rgba(106,27,154 ,0.2),
  md-grey-alpha: rgba(55,71,79 ,0.2),
  md-green-dark: rgba(27,94,32 ,1),
  md-blue-dark: rgba(26,35,126 ,1),
  md-red-dark: rgba(183,28,28 ,1),
  md-purple-dark: rgba(49,27,146 ,1),
  md-grey-dark: rgba(38,50,56 ,1)
);

 
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
